#aboutus-container {
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 3em 3em 9em 3em;
}

#cooker {
    padding-top: 4em;
}

#about-us h2 {
    font-size: 2.5em;
}

#about-us .orange {
    font-weight: bold;
}
