#footer-bottom {
    background: #E9E9E9;
    padding: 1.5rem 0px;
  }
  #footer-bottom p {
    text-align: center;
    padding-top: 1rem;
    color: #454545;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
  #footer-bottom p a {
    color: #FF4F02;
  }